/* Start Glopal Rules */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h2 {
  font-weight: normal;
}
p {
  line-height: 2;
  font-size: 16px;
  color: var(--third-color);
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Glopal Rules */
/* Start Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: var(--section-color);
  box-shadow: inset 0 0 5px var(--loader-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 15px;
  transition: all 2s;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 0;
}
/* End Scrollbar */