
/* Start Up */
.up {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: var(--section-color);
  color: var(--main-color);
  font-size: 22px;
  border-radius: 50%;
  z-index: 9999999999999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px var(--loader-color);
  transform: translateX(200%);
  transition: box-shadow 0.3s, transform 0.7s;
}
.up:hover {
  box-shadow: 0px -5px 20px var(--loader-color);
}
.show {
  transform: translateX(0);
}
.up i {
  animation: toUp 1.5s infinite;
}
@keyframes toUp {
  0% ,10%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40%, 60% {
    transform: translateY(-10px);
  }
}
.up:hover i {
  animation-play-state: paused;
}
/* End Up */
