/* Start Landing */
.carousel {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--section-color);
  margin-top: -70px;
  position: relative;
}
.carousel .list .item {
  position: absolute;
  inset: 0 0 0 0;
}
.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel .list .item .content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;  
  color: var(--section-color);
  text-shadow: 0 5px 10px #0004;
  text-transform: uppercase;
  font-size: 12px;
}
.carousel .list .item .content .author {
  font-weight: bold;
  letter-spacing: 10px;
  font-size: 12px;
}
.carousel .list .item .content .title,
.carousel .list .item .content .topic {
  font-size: 4em;
  font-weight: bold;
  line-height: 1.3em;
}
.carousel .list .item .content .des {
  color: var(--primary-color);
  font-size: 1em;
}
.carousel .list .item .content .topic {
  color: var(--main-color);
}
.carousel .list .item .content .buttons {
  display: grid; 
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 35px;
  gap: 5px;
  margin-top: 20px;
}
.carousel .list .item .content .buttons button {
  border: none;
  background-color: var(--section-color);
  color: var(--main-color);
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
}
.carousel .list .item .content .buttons button:nth-child(1):hover {
  background-color: var(--main-color);
  color: var(--fifth-color);
}
.carousel .list .item .content .buttons button:nth-child(2) {
  background-color: transparent;
  color: var(--fifth-color);
  border: 1px solid var(--fifth-color);
  transition: 0.5s;
}
.carousel .list .item .content .buttons button:nth-child(2):hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

/* bullets */
.bullets {
  position: absolute;
  left: 50%;
  bottom: 50px;
  width: max-content;
  z-index: 10;
  display: flex;
  gap: 20px;
}
.bullets .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.bullets .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.bullets .item .content {
  position: absolute;
  color: var(--fifth-color);
  font-size: 14px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.bullets .item .content .title {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 5px;
}

/* Arrows */
.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  width: 300px;
  max-width: 30%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee6;
  border: none;
  font-family: monospace;
  color: var(--section-color);
  font-weight: bold;
  font-size: large;
  transition: 0.5s;
  cursor: pointer;
  z-index: 14;
}
.arrows button:hover {
  background-color: var(--fifth-color);
  color: #555;
}
/* Responsev Carousel */
@media (max-width: 991px) {
  .carousel .list .item .content .title {
    font-size: 25px;
  }
  .carousel .list .item .content .topic {
    font-size: 3.2em;
  }
}
@media (max-width: 767px) {
  .carousel .list .item .content {
    top: 15%;
  }
  .carousel .list .item .content {
    padding-right: 0;
  }
  .bullets {
    bottom: 10px;
  }
}
/* Animation */
.carousel .list .item:nth-child(1) {
  z-index: 1;
}
.carousel .list .item:nth-child(1) .author,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .topic,
.carousel .list .item:nth-child(1) .des,
.carousel .list .item:nth-child(1) .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}
.carousel .list .item:nth-child(1) .title {
  animation-delay: 1.3s;
}
.carousel .list .item:nth-child(1) .topic {
  animation-delay: 1.4s;
}
.carousel .list .item:nth-child(1) .des {
  animation-delay: 1.6s;
}
.carousel .list .item:nth-child(1) .buttons {
  animation-delay: 1.8s;
}

/* Effect next click */
.carousel.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  border-radius: 20px;
  animation: showImage 0.5s linear 1 forwards;
}
@keyframes showImage {
  to {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }
}
.carousel.next .bullets .item:nth-last-child(1) {
  width: 0;
  overflow: hidden;
  animation: showBullets 0.5s linear 1 forwards;
}
@keyframes showBullets {
  to {
    width: 150px;
  }
}
.carousel.next .bullets {
  transform: translateX(150px);;
  animation: trnasformBullets 0.5s linear 1 forwards;
}
@keyframes trnasformBullets {
  to {
    transform: translateX(0);
  }
}

/* Effect prev click */
.carousel.prev .list .item:nth-child(2) {
  z-index: 2;
}
.carousel.prev .list .item:nth-child(2) img {
  position: absolute;
  left: 0;
  bottom: 0;
  animation: outImage 0.5s linear 1 forwards;
}
@keyframes outImage {
  to {
    width: 150px;
    height: 220px;
    border-radius: 20px;
    left: 50%;
    bottom: 50px;
  }
}
@media (max-width: 767px) {
  @keyframes outImage {
    to {
      width: 150px;
      height: 220px;
      border-radius: 20px;
      left: 50%;
      bottom: 10px; 
    }
  }
}
.carousel.prev .bullets .item:nth-child(1) {
  width: 0;
  overflow: hidden;
  opacity: 0;
  animation: showBullets 0.5s linear 1 forwards;
}
.carousel.prev .list .item:nth-child(2) .author,
.carousel.prev .list .item:nth-child(2) .title,
.carousel.prev .list .item:nth-child(2) .topic,
.carousel.prev .list .item:nth-child(2) .des,
.carousel.prev .list .item:nth-child(2) .buttons {
  animation: contentOut 1.5s linear 1 forwards;
}
@keyframes contentOut {
  to {
    transform: translateY(150px);
    filter: blur(20px);
    opacity: 0;
  }
}
.carousel.next .arrows button,
.carousel.prev .arrows button {
  pointer-events: none;
}
/* End Landing */