/* Start Footer */
.footer {
  padding-top: 100px;
  padding-bottom: 50px;
  background-image: image-set(
    url("../../images/FOOTER/footer-2250.jpg") 1x,
    url("../../images/FOOTER/footer.jpg") 2x);
  background-size: cover;
  background-position: center center;
  position: relative;
  color: var(--section-color);
}
.footer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: auto;
  background-color: rgba(0 0 0 / 40%);
}
.footer .container {
  position: relative;
  z-index: 1;
  text-align: center;
}
.footer .text {
  text-shadow: 0 5px 10px var(--fourth-color);
}
.footer img {
  width: 120px;
  margin-bottom: 20px;
}
.footer p:not(.catcot) {
  color: var(--primary-color);
  font-size: 22px;
  text-transform: uppercase;
  font-weight: normal;
  padding: 20px;
  width: fit-content;
  border-bottom: 1px solid var(--primary-color);
  margin: 20px auto;
}
.footer .social-icons i {
  padding: 10px 15px;
  transition: all 0.5s;
  font-size: 20px;
  color: var(--primary-color);
  cursor: pointer;
}
.footer .social-icons i:hover {
  color: var(--main-color);
  transform: translateY(-5px);
}
.footer .catcot {
  color: var(--primary-color);
  margin-top: 20px;
}
.footer .catcot span {
  color: var(--main-color);
  font-weight: bold;
  font-size: 20px;
}
/* End Footer */