/* Start Header */
header {
  width: 100%;
  position: relative;
  z-index: 99;
  height: 70px;
}
header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
  background-color: var(--section-color);
  height: 1px;
}
.logo {
  font-family: "Momo Signature", cursive;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-color);
  text-shadow: 0 5px 10px var(--fourth-color);
}
header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}
header nav ul {
  display: flex;
}
header nav .tuggal {
  color: var(--primary-color);
  font-size: 20px;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: 0.5s;
  padding-right: 1rem;
}
header nav ul #xmark {
  display: none;
}
@media (min-width: 992px) {
  header nav .tuggal {
    display: none;
  }
}
@media (max-width: 991px)  {
  header nav ul {
    border-top: 3px solid var(--main-color);
    border-bottom: 3px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 99%;
    left: 0;
    width: 100%;
    background-color: rgba(0 0 0 / 80%);
    z-index: 999;
    transform: translateY(-200%);
    transition: transform 0.7s;
  }
  header nav ul #xmark {
    display: block;
    align-self: flex-end;
    font-size: 22px;
    color: var(--primary-color);
    position: relative;
    top: 10px;
    right: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  header nav ul #xmark:hover,
  header nav .tuggal:hover {
    color: var(--main-color);
  }
  header nav ul.open {
    transform: translateY(0);
  }
  header nav ul li {
    width: 50%;
  }
}
header nav ul li a {
  display: block;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  color: var(--section-color);
  transition: color 0.5s;
}
header nav ul li .active,
header nav ul li a:hover {
  color: #ff5e00;
  border-bottom: 1.5px solid #ff5e00;
}
@media (max-width: 991px) {
  header nav ul li a {
    border: none;
    padding: 20px 10px !important;
    color: var(--primary-color);
  }
  header nav ul li .active,
  header nav ul li a:hover {
    border: 0;
  }
}
header #theme-switch {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--pricecard-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border-left: 1px solid var(--section-color);
  outline: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 991px) {
  header #theme-switch {
    margin-left: 0;
  }
}
header #theme-switch i {
  font-size: 18px;
  transition: 0.5s;
}
header #theme-switch i:first-child {
  display: none;
  color: #8f8f8f;
}
header #theme-switch i:first-child:hover {
  color: var(--main-color);
}
header #theme-switch i:last-child {
  color: #505050;
}
.darkmode header #theme-switch i:last-child {
  display: none;
}
header #theme-switch i:last-child:hover {
  color: #000;
}
.darkmode header #theme-switch i:first-child {
  display: block;
}
/* End Header */