/* Start Testimonials */
.site {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-color);
  background-color: var(--section-color);
}
.site .testi {
  max-width: 1050px;
  margin: 0 auto;
}
.site .testi:active {
  cursor: grab;
}
.site .testi .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 30px 0;
}
.site .testi .wrapper .thumbnail {
  width: 150px;
  height: 150px;
  position: relative;
  flex-shrink: 0;
}
.site .testi .wrapper .thumbnail img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(2);
  transition: transform 0.6s;
}
.site .testi .swiper-slide-active .thumbnail img {
  transform: scale(1);
}
.testi .thumbnail::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 30px);
  height: calc(100% + 10px);
  background-color: var(--main-color);
  border-radius: 50%;
  z-index: -1;
  box-shadow: var(--box-shadow);
  transition: border-radius 0.6s 0.3s;
}
.testi .swiper-slide-active .thumbnail::before {
  border-radius: 33% 67% 50% 50% / 50% 14% 86% 50%;
}
.site .testi .aside {
  position: relative;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} 
.testi .aside > p {
  position: relative;
  font-size: 14px;
  line-height: normal;
  margin-bottom: 30px;
  opacity: 0;
  transform: translateX(10%);
  transition: transform 1.2s, opacity 1s;
}
.testi .swiper-slide-active .aside > p {
  transform: translateX(0);
  opacity: 1;
}
.testi .aside > p::before,
.testi .aside > p::after {
  font-family: serif;
  font-size: 80px;
  font-weight: 800;
  line-height: 1;
  position: absolute;
  color: var(--light-color);
  height: 40px;
  z-index: -1;
}
.testi .aside > p::before {
  content: open-quote;
  top: -40px;
  left: 10px;
}
.testi .aside > p::after {
  content: close-quote;
  right: 0;
}
.testi .aside .name {
  position: relative;
  width: fit-content;
  line-height: 1;
  opacity: 0;
  transform: translateX(30px);
  transition: transform 1.2s 0.4s, opacity 1s 0.3s;
}
.testi .swiper-slide-active .name {
  transform: translateX(0);
  opacity: 1;
}
.testi .aside .name h4 {
  font-size: 22px;
  font-weight: 800;
  color: var(--main-color);
  opacity: 0.8;
}
.testi .aside .name p {
  font-size: 12px;
  text-align: right;
}
/* slider */
.site .testi :is(.swiper-button-next, .swiper-button-prev) {
  background-color: var(--light-color);
  top: 35%;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  transition: background-color 0.5s;
  box-shadow: var(--box-shadow);
}
.site .testi :is(.swiper-button-next, .swiper-button-prev):hover {
  background-color: var(--main-color);
}
.site .testi :is(.swiper-button-next, .swiper-button-prev) svg {
  width: 16px;
  height: 16px;
  color: var(--primary-color);
}
.site .testi .swiper-pagination {
  position: relative;
}
.site .testi .swiper-pagination span {
  background-color: var(--light-color);
  transition: width 0.5s;
  opacity: 1;
}
.site .testi .swiper-pagination .swiper-pagination-bullet-active {
  width: 26px;
  border-radius: 4px;
  background-color: var(--main-color);
}

@media (min-width: 768px) {
  .site .testi .wrapper {
    flex-direction: row;
    padding: 30px 100px;
  }
  .site .testi .wrapper .thumbnail {
    width: 200px;
    height: 200px;
  }
  .site .testi :is(.swiper-button-next, .swiper-button-prev) {
    top: 50%;
  }
  .testi .swiper-slide-active .name {
    transform: translateX(-40px);
  }
}
/* End Testimonials */